global:
  projectName: bn-project
  appVersion: 0.0.1
  services:
    identity:
      url: http://identityservice.bn-project.svc.cluster.local:5044
    strategy:
      url: http://strategyservice.bn-project.svc.cluster.local:5101
    alpaca:
      url: http://alpacaservice.bn-project.svc.cluster.local:5130
    finai:
      url: http://finaiservice.bn-project.svc.cluster.local:8000
    ui:
      url: http://localhost:3000
  # --- Keycloak ---
  keycloak:
    host: http://keycloak.bn-auth.svc.cluster.local:8080
    realm: bn-project
    clientId: bn-project-client
    clientSecret: L7nsaqcDc1QrLSIrKvU0rEjUwgIP2pp0
    adminClientId: config-cli

  # --- PostgreSQL ---
  postgresql:
    host: 192.168.178.74
    port: 5432
    username: bnproject_user
    password: L7n1P2pp0??13

  # --- Redis ---
  redis:
    host: redis-master.default.svc.cluster.local
    port: 6379


identityservice:
  aspnetCoreExtraEnvVars:
    - name: ASPNETCORE_URLS
      value: "http://+:5044"
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
  keycloakExtraEnvVars:
    - name: Keycloak__Authority
      value: http://keycloak.bn-auth.svc.cluster.local:8080/realms/bn-project
    - name: Keycloak__Host
      value: http://keycloak.bn-auth.svc.cluster.local:8080
    - name: Keycloak__Realm
      value: bn-project
    - name: Keycloak__ClientId
      value: bn-project-client
    - name: Keycloak__ClientSecret
      value: L7nsaqcDc1QrLSIrKvU0rEjUwgIP2pp0
    - name: Keycloak__AdminClientId
      value: config-cli
    - name: Email__Host
      value: 192.168.178.74
    - name: Email__Port
      value: 25
    - name: Email__From
      value: uli@mail.local
    - name: StrategyServiceClient
      value: http://strategyservice.bn-project.svc.cluster.local:5101
    - name: AlpacaServiceClient
      value: http://alpacaservice.bn-project.svc.cluster.local:5130
    - name: UI
      value: http://localhost:3000
  connectionStringsExtraEnvVars:
    - name: ConnectionStrings__IdentityDbConnection
      value: Host=192.168.178.74;Port=5432;Database=bn_identity_dev;Username=bnproject_user;Password=L7n1P2pp0??13;

alpacaservice:
  aspnetCoreExtraEnvVars:
    - name: ASPNETCORE_URLS
      value: "http://+:5130"
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
    - name: Alpaca__BASE_URL
      value: https://paper-api.alpaca.markets/v2
    - name: Alpaca__KEY_ID
      value: PK5C9YPF0LDNH2XGYCX8
    - name: Alpaca__SECRET_KEY
      value: OdnTABtFjgm1dl76RoZMlazyvLuGqCCEDiGSfc9S
    - name: Alpaca__TRADED_ASSETS
      value: SPY,AAPL,MSFT,TSLA,AMZN,NVDA,GOOGL,META,AMD,NFLX,BABA,BRK.B,BA,JPM,XOM,V,DIS,INTC,PFE,WMT,DIA,QQQ,EWG,SAP,DTE,ALV,UNH,GS,HD,JNJ,PG,KO,MCD,CVX
    - name: StrategyServiceClient
      value: http://strategyservice.bn-project.svc.cluster.local:5101
    - name: FinAIServiceClient
      value: http://finaiservice.bn-project.svc.cluster.local:8000
    - name: RedisConnection
      value: redis-master.default.svc.cluster.local:6379
    - name: UpdateAlpacaDb__Enabled
      value: true
    - name: UpdateAlpacaDb__IntervalInMinutes
      value: 120

  keycloakExtraEnvVars:
    - name: Keycloak__Authority
      value: http://keycloak.bn-auth.svc.cluster.local:8080/realms/bn-project
    - name: Keycloak__Host
      value: http://keycloak.bn-auth.svc.cluster.local:8080
    - name: Keycloak__Realm
      value: bn-project
    - name: Keycloak__ClientId
      value: bn-project-client
    - name: Keycloak__ClientSecret
      value: L7nsaqcDc1QrLSIrKvU0rEjUwgIP2pp0
    - name: Keycloak__AdminClientId
      value: config-cli
  connectionStringsExtraEnvVars:
    - name: ConnectionStrings__AlpacaDbConnection
      value: Host=192.168.178.74;Port=5432;Database=bn_alpaca_dev;Username=bnproject_user;Password=L7n1P2pp0??13;

strategyservice:
  aspnetCoreExtraEnvVars:
    - name: ASPNETCORE_URLS
      value: "http://+:5101"
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
    - name: RedisConnection
      value: redis-master.default.svc.cluster.local:6379
    - name: FinAIServiceClient
      value: http://finaiservice.bn-project.svc.cluster.local:8000
    - name: AlpacaServiceClient
      value: http://alpacaservice.bn-project.svc.cluster.local:5130
  keycloakExtraEnvVars:
    - name: Keycloak__Authority
      value: http://keycloak.bn-auth.svc.cluster.local:8080/realms/bn-project
    - name: Keycloak__Host
      value: http://keycloak.bn-auth.svc.cluster.local:8080
    - name: Keycloak__Realm
      value: bn-project
    - name: Keycloak__ClientId
      value: bn-project-client
    - name: Keycloak__ClientSecret
      value: L7nsaqcDc1QrLSIrKvU0rEjUwgIP2pp0
    - name: Keycloak__AdminClientId
      value: config-cli
  connectionStringsExtraEnvVars:
    - name: ConnectionStrings__BNProjectDbConnection
      value: Host=192.168.178.74;Port=5432;Database=bn_strategy_dev;Username=bnproject_user;Password=L7n1P2pp0??13;

notificationservice:
  aspnetCoreExtraEnvVars:
    - name: ASPNETCORE_URLS
      value: "http://+:5254"
    - name: ASPNETCORE_ENVIRONMENT
      value: Development
    - name: RedisConnection
      value: redis-master.default.svc.cluster.local:6379

  keycloakExtraEnvVars:
    - name: Keycloak__Authority
      value: http://keycloak.bn-auth.svc.cluster.local:8080/realms/bn-project
    - name: Keycloak__Host
      value: http://keycloak.bn-auth.svc.cluster.local:8080
    - name: Keycloak__Realm
      value: bn-project
    - name: Keycloak__ClientId
      value: bn-project-client
    - name: Keycloak__ClientSecret
      value: L7nsaqcDc1QrLSIrKvU0rEjUwgIP2pp0
    - name: Keycloak__AdminClientId
      value: config-cli
