# Default values for finaiservice.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ulihdocker/bn-fin-ai
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: "finaiservice"
fullnameOverride: "finaiservice"

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}

serviceAccount:
  create: false

ingress:
  enabled: false

service:
  type: LoadBalancer
  loadBalancerIP: 192.168.178.100
  port: 8000
  targetPort: 8000
  selector:
    app: finaiservice

proxy: edge

env:
  REDIS_URL: redis://localhost:6379/0
  LOG_LEVEL: INFO
  MAX_TRIALS: 100
  CONNECTION_STRING: postgresql://root:L7n1P2pp0??13@localhost:9016/bn_ai_project_db


autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
