# Default values for bn-client.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ulihdocker/bn-project-app
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: "bn-client"
fullnameOverride: "bn-client"

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}

serviceAccount:
  create: false

ingress:
  enabled: false

service:
  type: LoadBalancer
  # loadBalancerIP: 192.168.178.102
  port: 3000
  targetPort: 3000
  selector:
    app: bn-client

proxy: edge

env:
  ALPACA_API_URL: http://alpacaservice.bn-project.svc.cluster.local:5130
  STRATEGY_API_URL: http://strategyservice.bn-project.svc.cluster.local:5101
  IDENTITY_API_URL: http://identityservice.bn-project.svc.cluster.local:5044
  NEXTAUTH_URL: http://new-nextauth-url:3000
  NEXTAUTH_SECRET: zEx8XJH1SQXt1uuK097QBnTkoe/Bt1gMTba0pFQyHHQ=
  SESSION_SECRET: vI++GlJrqktQu5F7zWlsRnpKvqOJlsrH4PYFYM0XwI8=

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
